<template>
  <button class="btn" @click="sendEmitClick" :disabled="disabled" :class="{disabled: disabled}">{{ title }}</button>
</template>


<script lang="ts">
import {Component, Prop, Vue, Emit} from 'vue-property-decorator'


@Component
export default class Button extends Vue {
  @Prop() title!: number
  @Prop() disabled!: boolean

  @Emit("click")
  sendEmitClick() {

  }
}
</script>

<style scoped lang="scss">
.btn {
  user-select: none;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &.disabled {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: rgba(0, 0, 0, .125);
    border-color: rgba(0, 0, 0, .125);
  }

  &:hover:not(:disabled) {
    background-color: #3f9afb;
  }
}

</style>
