<template>
  <div v-if="isOpenConfirmPopup">
    <div class="confirmPopupBg" @click="sendEmitClick"></div>
    <div class="confirmPopup">
      <span>Ваш заказ на сумму {{ finalPrice }}$ успешно оформлен</span>
      <button-colored :title="'Закрыть'" @click="sendEmitClick"></button-colored>
    </div>
  </div>
</template>


<script lang="ts">
import {Component, Prop, Vue, Emit} from 'vue-property-decorator'
import Button from "./button-colored.vue";


@Component({
  components: {
    "button-colored": Button,
  }
})
export default class Popup extends Vue {
  @Prop() isOpenConfirmPopup!: boolean
  @Prop() finalPrice!: string

  @Emit("click")
  sendEmitClick() {

  }
}
</script>

<style scoped lang="scss">
.confirmPopupBg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #e6e6facc;
  top: 0;
  left: 0;
}

.confirmPopup {
  padding: 10px 15px;
  font-size: 25px;
  width: 200px;
  height: 300px;
  border: 1px solid #6e6767;
  position: fixed;
  border-radius: 5px;
  top: calc(50% - 150px);
  left: calc(50% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>
