* {
  box-sizing: border-box;
  font-family: sans-serif;

}

img {
  user-select: none;
  pointer-events: none;
}

body, #__nuxt, .catalog, #__layout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.catalog {
  padding: 40px 40px 0 40px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows:  repeat(auto-fit, minmax(400px, 1fr));
}
.basket{
  padding: 40px 40px 0 40px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows:  repeat(auto-fit, minmax(400px, 1fr));
}
.item {
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .125);
  display: flex;
  flex-direction: column;
  position: relative;

  .itemImage {
    width: 100%;
    height: 100px;

    & img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .itemBody {
    padding: 20px 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .toBasketLink {
      width: 50px;
      height: 50px;
      font-size: 20px;
      text-decoration: none;
      position: absolute;
      right: -15px;
      top: -15px;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.2s;
      pointer-events: none;
      background-color: #007bff00;
      &:hover{
        transition: all 0.2s;
        background-color: #007bff80;

      }
      &.show {
        pointer-events: all;
        transition: all 0.1s;
        opacity: 1;
      }

      & img {
        user-select: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;

      }


      & .countOfItem {
        user-select: none;
        width: 24px;
        border-radius: 50%;
        text-align: center;
        font-size: 15px;
        padding: 4px;
        color: white;
        top: -5px;
        z-index: 1;
        right: -10px;
        position: absolute;
        background-color: #007bff;

      }
    }

    .buttons {
      user-select: none;



    }
  }
}
