<template>
  <div>
    <router-link to="/" class="linkToCatalog">Каталог</router-link>
    <div class="basket"  v-show="basket.length">
      <div>
        <div class="item" v-for="([id, count]) in basket">
          <div class="itemImage"><img :src="items[id].image" alt="item image"></div>
          <div class="itemBody">
            <div class="itemInfo">
              <div class="name">{{ items[id].title }}</div>
              <div class="price">Цена {{ items[id].price }}$</div>
              <div class="count">Кол-во {{ count }}</div>
              <div class="finalItemPrice">Общая цена {{ count * items[id].price }}$</div>
            </div>
            <div class="buttons">
              <button-colored :title="'добавить товар'" :disabled="false"
                              @click="incrementItemToBasket(Number(id))"></button-colored>
              <button-colored :title="'Убрать товар'" :disabled="false"
                              @click="decrementItemFromBasket(Number(id))"></button-colored>
            </div>
          </div>
        </div>
      </div>
      <div>
        <span>Общая стоимость</span>
        <div class="finalPrice" v-show="basket.length">
          {{ finalPrice }}
        </div>
        <button-colored v-show="basket.length" :title="'Оформить заказ'"
                        @click="openPopup"></button-colored>
      </div>
    </div>

    <div v-show="!basket.length">Корзина пуста</div>
    <confirm-popup :finalPrice="finalPrice" :isOpenConfirmPopup="isOpenConfirmPopup"
                   @click="isOpenConfirmPopup = false"></confirm-popup>

  </div>
</template>

<script lang="ts">
import {Vue, Component} from 'vue-property-decorator'
import {userModule} from '~/store/userModule';
import Button from "~/components/button-colored.vue";
import Popup from "~/components/confirm-popup.vue";
import {ItemDictionary} from "~/types/types";

@Component({
  components: {
    "button-colored": Button,
    "confirm-popup": Popup
  },
  async asyncData() {
    if (Object.entries(userModule.items).length) {
      return
    }
    await userModule.loadItems()
    return {
      items: userModule.items,
    }
  }
})
export default class Basket extends Vue {
  items = {} as ItemDictionary

  get basket() {
    return Object.entries(userModule.basket)
  }

  get finalPrice() {
    return Math.floor(this.basket.reduce((acc: number, [id, count]: (number)[]) => {
      return acc += this.items[id].price * count
    }, 0))
  }

  isOpenConfirmPopup = false


  incrementItemToBasket(id: number) {
    userModule.setIncrementedItemToBasket(id)
  }

  openPopup() {
    this.isOpenConfirmPopup = true
  }

  decrementItemFromBasket(id: number) {
    userModule.setDecrementedItemFromBasket(id)
  }

  mounted() {
    if (Object.entries(this.items).length === 0) {
      this.items = userModule.items
    }
    let storage = localStorage.getItem('basket') || "{}"
    let basket = JSON.parse(storage)
    userModule.setBasket(basket)
  }
}
</script>


<style lang="scss">
@import '../static/main.scss';


.linkToCatalog {
  font-size: 20px;
  text-decoration: none;

}
</style>
