<template>
  <div class="catalog" v-show="Object.entries(items).length">
    <div class="item" v-for="([id, item]) in Object.entries(items)">
      <div class="itemImage"><img :src="item.image" alt="item image"></div>
      <div class="itemBody">
        <div class="itemInfo">
          <p class="name">{{ item.title }}</p>
          <p class="price">{{ item.price }}$</p>
        </div>
        <router-link class="toBasketLink" to="basket" :class="{show: typeof basket[id] !== 'undefined'}"
        >
          <img src="https://img.icons8.com/ios-glyphs/60/000000/shopping-basket.png" alt="to basket link"/>
          <span class="countOfItem">{{ basket[id] }}</span>
        </router-link>
        <div class="buttons">
          <button-colored :title="'добавить товар'" :disabled="false" @click="incrementItemToBasket(Number(id))"></button-colored>
          <button-colored :title="'Убрать товар'" :disabled="typeof basket[id] === 'undefined'" @click="decrementItemFromBasket(Number(id))"></button-colored>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component} from 'vue-property-decorator'
import {userModule} from '~/store/userModule';
import Button from '../components/button-colored.vue'
@Component({
  components: {
    "button-colored": Button
  },
  async asyncData() {
    await userModule.loadItems()
    return {
      items: userModule.items,
    }
  }
})
export default class Catalog extends Vue {
  items = {}

  get basket() {
    return userModule.basket
  }

  incrementItemToBasket(id: number) {
    userModule.setIncrementedItemToBasket(id)
  }

  decrementItemFromBasket(id: number) {
    userModule.setDecrementedItemFromBasket(id)
  }

  mounted() {
    let storage = localStorage.getItem('basket') || "{}"
    let basket = JSON.parse(storage)
    userModule.setBasket(basket)
  }

}
</script>

<style lang="scss">
  @import '../static/main.scss';
</style>
